<header>
  <nav>
    <div class="brand">
      <img class="logo" src="../../../assets/img/tienda-online-icono.png">
      <span>Tienda de Ely</span>
    </div>
    <div class="form-search">
      <input type="text" placeholder="Buscar">
      <a href="/login">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
    <div class="user">
      <img class="logo" src="../../../assets/img/avatar.png">
      <ul>
        <li>
          <a href="/login">
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </a>
          <ul>
            <li><a href="#">Ajustes</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
