<header>
  <nav>
    <div class="brand">
      <img class="logo" src="../../../assets/img/tienda-online-icono.png">
      <a href="home"><span>Tienda de Ely</span>
      </a>
    </div>
    <div class="form-search">
      <input type="text" placeholder="Buscar">
      <a href="/home">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
    <div class="user">
      <img class="logo" src="../../../assets/img/login_dafault.png">
      <ul>
        <li>
          <span>
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </span>
          <div *ngIf="user$ | async as user; else loggedOut">
            <ul>
              <li><a href="#">{{user.displayName}}</a></li>
              <li><a href="#">Ajustes</a></li>
              <li><a href="#">Carrito</a></li>
              <li><a routerLink="/home" (click)="LogOut()">Salir</a></li>
            </ul>
          </div>
          <ng-template #loggedOut>
            <ul>
              <li><a routerLink="/login">Ingresar</a></li>
              <li><a routerLink="/registro">Registrarte</a></li>
            </ul>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
</header>
