<div class="container">
  <div class="card">
    <div class="img-card">
      <img src="../../../assets/img/paketaxo_normal.png">
    </div>
    <div class="description-card">
      <p class="title">Producto</p>
      <span class="price">$15.00</span>
      <p class="detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius assumenda
        perferendis ea .</p>
    </div>
    <button>
      <fa-icon [icon]="faShop"></fa-icon> Comprar
    </button>
  </div>
  <div class="card">
    <div class="img-card">
      <img src="../../../assets/img/tienda-online-icono.png">
    </div>
    <div class="description-card">
      <p class="title">Producto</p>
      <span class="price">$15.00</span>
      <p class="detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius assumenda
        perferendis ea .</p>
    </div>
    <button>
      <fa-icon [icon]="faShop"></fa-icon> Comprar
    </button>
  </div>
  <div class="card">
    <div class="img-card">
      <img src="../../../assets/img/avatar.png">
    </div>
    <div class="description-card">
      <p class="title">Producto</p>
      <span class="price">$15.00</span>
      <p class="detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius assumenda
        perferendis ea .</p>
    </div>
    <button>
      <fa-icon [icon]="faShop"></fa-icon> Comprar
    </button>
  </div>
  <div class="card">
    <div class="img-card">
      <img src="../../../assets/img/avatar.png">
    </div>
    <div class="description-card">
      <p class="title">Producto</p>
      <span class="price">$15.00</span>
      <p class="detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius assumenda
        perferendis ea .</p>
    </div>
    <button>
      <fa-icon [icon]="faShop"></fa-icon> Comprar
    </button>
  </div>
</div>
